* {
  margin:0; padding:0;
}

/* styling for the navbar */
nav.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom-style: solid;
  border-image: linear-gradient(to right, black, white, white) 1;
  float: left;
}

/* styling for navbar elements */
nav.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* drop button placeholder */
.dropdown {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
 }

/* styling for drop button */
.dropdown button.dropbtn {
  display: block;
  color: black;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: white;
}

/* colour directories with mouse hovering over */
nav.navbar a:hover, .dropdown:hover button.dropbtn, .dropdown-content a:hover {
  color: #ddd;
}

/* styling for dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2147483647; /* this number is the highest possible z index */
}

/* styling for dropdown menu links */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* display dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* colour the currently active directory
nav.navbar a.active {
  color: RGB(189,224,161);
}
*/

/* styling for content container
div.container {
  margin: 30px auto; /* Add a top margin to avoid content overlay
}
*/
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: black;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
