
/* calibrate all elements */
* {
  margin:0; padding:0;
}

/* --------------------------------NAVIGATION BAR-------------------------------- */

/* styling for the navbar */
nav.navbar {
  overflow: visible;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom-style: solid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
  float: left;
}

/* styling for navbar elements */
nav.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 22px 20px; /* original 14px and 16px */
  text-decoration: none;
  font-size: 20px;
  font-family: Times New Roman, Times, serif;
}

/* drop button placeholder */
.dropdown {
  float: left;
  /*
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  */
  overflow: hidden;
 }

/* styling for drop button */
.dropdown button.dropbtn {
  /*display: block;*/
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  margin: 0;
  text-align: center;
  padding: 22px 20px; /* original 14px and 16px */
  text-decoration: none;
}

/* colour directories with mouse hovering over */
nav.navbar a:hover, .dropdown:hover button.dropbtn, .dropdown-content a:hover {
  color: #ddd;
}

/* styling for dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /* this number (2147483647) is the highest possible z index */
}

/* styling for dropdown menu links */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* display dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* colour the currently active directory*/
nav.navbar a:active {
  color: RGB(189,224,161);
}

/* --------------------------------NAVIGATION BAR-------------------------------- */
/* --------------------------------CONTENT CONTAINER-------------------------------- */

.container {
  margin: 60px auto;
  width: 70%;
}

/* --------------------------------CONTENT CONTAINER-------------------------------- */
/* --------------------------------HOME PAGE-------------------------------- */

.blurb {
  border-style: solid;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px 12px;
  border-radius: 12px;
}

.blurb-image {
  float: left;
  display: block;
  padding: 10px;
  border-radius: 8px;
}

.blurb p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

/* --------------------------------HOME PAGE-------------------------------- */
/* --------------------------------RESUME PAGE-------------------------------- */

.resume-my-name {
  font-size: 40px;
  border-bottom-style: solid;
  border-width: 3px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.resume-my-email {
  font-size: 24px;
  opacity: 50%;
  padding: 10px;
  border-style: none;
  text-align: center;
}

.resume-content {
  padding: 20px 0px;
  border-bottom-style: solid;
  border-width: 2px;
  width: 80%;
}

.resume-content p {
  font-size: 20px;
}

/* --------------------------------RESUME PAGE-------------------------------- */
/* --------------------------------FOOTER-------------------------------- */

footer {
  border-top-style: solid;
  border-image: linear-gradient(to right, white, white, black, white, white) 1;
  width: 100%;
}

.end-of-page {
  margin: 200px auto;
  width: 100%;
  position: relative;
}

.end-of-page a {
  text-align: center;
  color: gray;
  opacity: 50%;
  text-decoration: none;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end-of-page a span.arrow-tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.end-of-page a:hover .arrow-tooltip {
  visibility: visible;
}
/* --------------------------------FOOTER-------------------------------- */
/* --------------------------------GENERAL STYLING-------------------------------- */

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: black;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* GENERAL STYLING */
