* {
  margin:0; padding:0;
}

nav.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom-style: solid;
  border-image: linear-gradient(to right, white, black, white) 1;
  float: center;
}
nav.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav.navbar a:hover {
  color: #ddd;
}
div.container {
  float: left;
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: black;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
