<!DOCTYPE html>
	<html>
		
		{% include head.html %}
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="{{ site.baseurl }}">Home</a></li>
		        	<li><a href="{{ site.baseurl }}about">About</a></li>
	        		<li><a href="{{ site.baseurl }}resume">Resume</a></li>
	        		<li><a href="{{ site.baseurl }}projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jacob.hodgins.17@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jacobhodgins">github.com/jacobhodgins</a></li>
				<li><a href="https://www.linkedin.com/in/jacob-hodgins-59ba57270/">linkedin</li>
				</ul>
			</footer>
		</body>
	</html>
