<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav class="navbar" /*id="top"*/>
				<span></span>
	        		<a href="{{ site.baseurl }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
		        	<!-- <a href="{{ site.baseurl }}about">About</a> -->
	        		<a href="{{ site.baseurl }}resume"><i class="fa fa-book" aria-hidden="true"></i> Resume</a>
	        		<a href="{{ site.baseurl }}projects"><i class="fa fa-pencil" aria-hidden="true"></i> Projects</a>
				<span></span>
				<div class="dropdown">
					<button class="dropbtn"><i class="fa fa-address-book" aria-hidden="true"></i> Contacts <i class="fa fa-caret-down"></i></button>
					<span></span>
					<div class="dropdown-content">
						<!-- <a href="mailto:jacob.hodgins.17@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Gmail</a> -->
	        				<a href="https://github.com/jacobhodgins"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
						<a href="https://www.linkedin.com/in/jacobhodgins/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
					</div>
				</div>
			</nav>
			<span><br></span>
			<span><br></span>
			<div class="container grid">
			
			{{ content }}
			
			</div><!-- /.container -->
			<span></span>
			<span></span>
			<footer>
				<span></span>
				<div class="end-of-page">
					<a href="#top"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i><span class="arrow-tooltip">Back to top</span></a>
				</div>
				<span></span>
			</footer>
		</body>
	</html>
